<h1>Pokédex</h1>

<div class="pokedex-section">
  <h2>Pokemons Disponibles</h2>
  <div class="pokemon-list">
    @for (p of availablePokemon; track p.id) {
      <app-pokemon [pokemon]="p" (onLike)="updatePokemon($event)"></app-pokemon>
    }
  </div>
</div>

<div class="pokedex-section">
  <h2>Pokemons amb Like</h2>
  <div class="pokemon-list">
    @for (p of likedPokemon; track p.id) {
      <app-pokemon [pokemon]="p" (onLike)="updatePokemon($event)"></app-pokemon>
    }
    @if (likedPokemon.length === 0) {
      <p>No hi ha cap Pokémon amb like.</p>
    }
  </div>
</div>
